.home {
  position: relative;
  top: 52px;
  margin-bottom: 124px;

  .keyword {
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    a {
      background-color: #e5e5e5;
      border-color: #d6d6d6;
      transition: 0.5s;

      &:hover {
        color: #ffffff;
        background-color: $secondary;
      }

      &:first-child {
        background-color: $secondary;
        color: #ffffff;
      }
    }
  }

  .item {
    width: 450px;
    margin-top: 8px;

    @include lg-min {
      width: 400px;
    }

    @include md-min {
      width: 350px;
    }

    .video-img {
      width: 100%;
      position: relative;

      img {
        width: 450px;

        @include lg-min {
          width: 400px;
        }

        @include md-min {
          width: 350px;
        }
      }

      .time {
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        font-size: 16px;
      }
    }

    .mug-shot {
      width: 40px;
      img {
        border-radius: 50%;
        width: 40px;
      }
    }

    .title {
      a {
        color: #000000;
        align-self: end;
      }

      h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
      }

      span {
        color: #afafaff3;
        font-size: 14px;
      }
    }
  }
}
